.modal-film-info {
  padding: 20px;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  outline: auto;
}
.film-info {
  display: flex;
}
.film-info-wrapper {
  padding: 30px;
}
