.container {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.film-box {
  outline: auto;
  padding: 10px;
}
.film-poster {
  width: 280px;
}
